<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>健康管理</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarHealth">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/list"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&ensp;Health Care Database</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarHealth">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>&ensp;参照</a></li>
                        <li><a href="/edit/{{ health.data_id }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&ensp;編集</a></li>
                        <li><a href="/delete/{{ health.data_id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&ensp;削除</a></li>
                        <li><a href="/list"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&ensp;一覧</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="table-responsive">
            {%- if done_flg == 1 -%}
            <label>更新されました。</label>
            {%- endif %}
            <form method="post" action="/edit">
                <table class="table table-striped" width="70%">
                    <tr>
                        <td width="30%">ID：</td>
                        <td width="70%">
                            <label>{{ health.data_id }}</label>
                        </td>
                    </tr>
                    <tr>
                        <th>登録日時：</td>
                        <td>
                            <label>{{ health.regist_datetime }}</label>
                        </td>
                    </tr>
                    <tr>
                        <th>身長：</td>
                        <td>
                            <label>{{ health.height }}</label>
                        </td>
                    </tr>
                    <tr>
                        <th>体重：</td>
                        <td>
                            <label>{{ health.weight }}</label>
                        </td>
                    </tr>
                    <tr>
                        <th>BMI：</td>
                        <td>
                            <label>{{ health.bmi }}</label>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>