<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>健康管理</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            function changeRange(navi){
                let f = document.getElementById('form1'); 
                f.method = 'post';
                f.action = '/navi'
                f.navi.value = navi;
                f.submit();
            }
            </script>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarHealth">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/list"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&ensp;Health Care Database</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarHealth">
                    <ul class="nav navbar-nav">
                        <li><a href="/new"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&ensp;登録</a></li>
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&ensp;グラフ</a></li>
                        <li><a href="/list"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&ensp;一覧</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="table-responsive">
            <form method="post" id="form1">
                <div class="form-group mb-2 form-inline">
                    <input type="text" class="form-control" placeholder="From日時" name="from_date" value="{{ from_date }}" size="12" style="width:100px;">&ensp;〜
                    <input type="text" class="form-control" placeholder="To日時" name="to_date" value="{{ to_date }}" size="12" style="width:100px;">&ensp;
                    <input type="hidden" name="navi" value="">
                    <button type="submit" class="btn btn-primary mb-2">検索</button>
                    <button type="submit" class="btn btn-primary mb-2"onclick="changeRange('before')">前へ</button>
                    <button type="submit" class="btn btn-primary mb-2"onclick="changeRange('next')">次へ</button>
                </div>
            </form>
            {%- if graph_date -%}
              <img id="plotimg" src="data:image/png:base64,{{ graph_date }}"></img>
            {%- endif %}
        </div>
    </body>
</html>